@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  min-height: 100vh;
}

html.dark body {
  @apply bg-slate-950 text-slate-100;
}
